<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyg.yucai.mapper.TAdminMapper">
  <resultMap id="BaseResultMap" type="com.hyg.yucai.model.TAdmin">
    <id column="adminId" jdbcType="INTEGER" property="adminid" />
    <result column="adminName" jdbcType="VARCHAR" property="adminname" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="registDate" jdbcType="DATE" property="registdate" />
    <result column="logTime" jdbcType="DATE" property="logtime" />
    <result column="adminPhone" jdbcType="VARCHAR" property="adminphone" />
    <result column="delFlag" jdbcType="INTEGER" property="delflag" />
    <result column="standby_field_01" jdbcType="VARCHAR" property="standbyField01" />
    <result column="standby_field_02" jdbcType="VARCHAR" property="standbyField02" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    adminId, adminName, realName, password, registDate, logTime, adminPhone, delFlag, 
    standby_field_01, standby_field_02
  </sql>
  <select id="selectByExample" parameterType="com.hyg.yucai.model.TAdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where adminId = #{adminid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_admin
    where adminId = #{adminid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyg.yucai.model.TAdminExample">
    delete from t_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyg.yucai.model.TAdmin">
    insert into t_admin (adminId, adminName, realName, 
      password, registDate, logTime, 
      adminPhone, delFlag, standby_field_01, 
      standby_field_02)
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{registdate,jdbcType=DATE}, #{logtime,jdbcType=DATE}, 
      #{adminphone,jdbcType=VARCHAR}, #{delflag,jdbcType=INTEGER}, #{standbyField01,jdbcType=VARCHAR}, 
      #{standbyField02,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyg.yucai.model.TAdmin">
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        adminId,
      </if>
      <if test="adminname != null">
        adminName,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="registdate != null">
        registDate,
      </if>
      <if test="logtime != null">
        logTime,
      </if>
      <if test="adminphone != null">
        adminPhone,
      </if>
      <if test="delflag != null">
        delFlag,
      </if>
      <if test="standbyField01 != null">
        standby_field_01,
      </if>
      <if test="standbyField02 != null">
        standby_field_02,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="registdate != null">
        #{registdate,jdbcType=DATE},
      </if>
      <if test="logtime != null">
        #{logtime,jdbcType=DATE},
      </if>
      <if test="adminphone != null">
        #{adminphone,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="standbyField01 != null">
        #{standbyField01,jdbcType=VARCHAR},
      </if>
      <if test="standbyField02 != null">
        #{standbyField02,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyg.yucai.model.TAdminExample" resultType="java.lang.Long">
    select count(*) from t_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_admin
    <set>
      <if test="record.adminid != null">
        adminId = #{record.adminid,jdbcType=INTEGER},
      </if>
      <if test="record.adminname != null">
        adminName = #{record.adminname,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realName = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.registdate != null">
        registDate = #{record.registdate,jdbcType=DATE},
      </if>
      <if test="record.logtime != null">
        logTime = #{record.logtime,jdbcType=DATE},
      </if>
      <if test="record.adminphone != null">
        adminPhone = #{record.adminphone,jdbcType=VARCHAR},
      </if>
      <if test="record.delflag != null">
        delFlag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.standbyField01 != null">
        standby_field_01 = #{record.standbyField01,jdbcType=VARCHAR},
      </if>
      <if test="record.standbyField02 != null">
        standby_field_02 = #{record.standbyField02,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_admin
    set adminId = #{record.adminid,jdbcType=INTEGER},
      adminName = #{record.adminname,jdbcType=VARCHAR},
      realName = #{record.realname,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      registDate = #{record.registdate,jdbcType=DATE},
      logTime = #{record.logtime,jdbcType=DATE},
      adminPhone = #{record.adminphone,jdbcType=VARCHAR},
      delFlag = #{record.delflag,jdbcType=INTEGER},
      standby_field_01 = #{record.standbyField01,jdbcType=VARCHAR},
      standby_field_02 = #{record.standbyField02,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyg.yucai.model.TAdmin">
    update t_admin
    <set>
      <if test="adminname != null">
        adminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registdate != null">
        registDate = #{registdate,jdbcType=DATE},
      </if>
      <if test="logtime != null">
        logTime = #{logtime,jdbcType=DATE},
      </if>
      <if test="adminphone != null">
        adminPhone = #{adminphone,jdbcType=VARCHAR},
      </if>
      <if test="delflag != null">
        delFlag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="standbyField01 != null">
        standby_field_01 = #{standbyField01,jdbcType=VARCHAR},
      </if>
      <if test="standbyField02 != null">
        standby_field_02 = #{standbyField02,jdbcType=VARCHAR},
      </if>
    </set>
    where adminId = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyg.yucai.model.TAdmin">
    update t_admin
    set adminName = #{adminname,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      registDate = #{registdate,jdbcType=DATE},
      logTime = #{logtime,jdbcType=DATE},
      adminPhone = #{adminphone,jdbcType=VARCHAR},
      delFlag = #{delflag,jdbcType=INTEGER},
      standby_field_01 = #{standbyField01,jdbcType=VARCHAR},
      standby_field_02 = #{standbyField02,jdbcType=VARCHAR}
    where adminId = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>